@using DistributedLibrary.UI.Auth
@inject UserInfoProvider _userInfoProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DistributedLibrary.UI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="books">
                <span class="oi oi-book" aria-hidden="true"></span> Books
            </NavLink>
        </div>
        @if (_currentUserProfileLink != null)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="reservations">
                    <span class="oi oi-share-boxed" aria-hidden="true"></span> Reservations
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@_currentUserProfileLink">
                    <span class="oi oi-person" aria-hidden="true"></span> Profile
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private string? _userId = null;

    private string? _currentUserProfileLink = null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnParametersSetAsync()
    {
        _userId = await _userInfoProvider.GetUserIdAsync();

        if (!string.IsNullOrEmpty(_userId))
        {
            _currentUserProfileLink = $"/user/{_userId}";
        }
    }
}
